{% load static %}
<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>玩转数据</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
      <script src='/static/js/jquery-1.11.3.js'></script>
      <script src="{% static 'js/register.js' %}"></script>
   </head>
   <body>
      <div  id="header" > 
         <div class="logo">
            <h1  id="dsee">QDSee
            <span>数据展示，上QDSee</span>
            </h1> 
         </div>
      </div>

      <div id="content">
         <div id="loginframe">
         <form action='/index/register/' method="post" onsubmit="return validateForm()">
         {% csrf_token %}
            <div  id="unumber">            
               <label>手机号</label>
               <input id='unum' type="text" name="uphone" placeholder="请输入11位的手机号" maxlength="11">
               <span style="color:red;margin-left: 73px;"></span>
            </div>
            <div  id="unumber">            
               <label>用户名</label>
               <input id='unum' type="text" name="uname" placeholder="请输入用户名" maxlength="20">
            </div>
            <div  id="password">
               <label>密码</label>
               <input id="upwd" type="password" name="upwd" placeholder="4~20个字符，区分大小写" maxlength="20">
            </div>
            <div  id="confirm">
               <label>确认密码</label>
               <input id='upwd2' type="password" name="upwd" placeholder="请确认密码" maxlength="20">
            </div>
            <div  id="protocol">
               <input id="proto" type="checkbox" name="proto" value="True">
               <label  for="proto">我同意《服务条款》及《法律声明》</label>
            </div><!--协议-->
            <div  id="Button">
               <input id='register' type="submit" value="注册" >
            </div>
         </form>
         <div  id="gologin">
            <p>已有帐号？
               <span><a href="/index/login/">直接登录</a></span>
            </p>
         </div>
      </div>
      </div>

   <footer >
      @ copyright
   </footer>
   </body>
</html>