<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QDSee词云</title>
	<link rel="stylesheet" href="/static/css/word_cloud.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src='/static/js/jquery-1.11.3.js'></script>
	<script src='/static/js/wcloud.js'></script>
	<script src='/static/js/bootstrap.min.js'></script>
	<script src='/static/js/jquery.cookie.js'></script>
</head>
<body>
	<div id='header'>
	  <h1  id="dsee">QDSee
      </h1>
      <div class="nav">
         <a href="/">首页</a>
         <a href="#">文本</a>
         <a id="excel" href="#excel">EXCEL</a>
         <a id="db" href="#db">数据库</a>
         <div id="navright">
           <!-- <a href="/login/" style="margin-right:14px;">登录</a>|
           <a href="/register/" style="margin-right:35px">注册</a> -->
         </div>
      </div class="nav">
	</div>

	<div id='container'>
		<div id="browse">
	        <a href="#" >
	            <input type="file" name="textfile" id="fbutton">
	        </a>
	        <button id="submit">上传</button>
	    </div>
	    <div id="content">
	    	<div id="optheader">
	    		<label id="tip" class="option">待分析长文本</label>
		    	<label id="cpict" class="option">热词词频图</label>
		    	<button id="startaly" class="option">生成词云</button>
	    	<div id="more" class="dropdown">
			    <button type="button" class="btn dropdown-toggle mybtn" id="dropdownMenu1" data-toggle="dropdown">更多样式..
			        <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
			        <li id="1" role="presentation" >
			            <a role="menuitem" tabindex="-1" href="#">普通形状</a>
			        </li>
			        <li id='2' role="presentation">
			            <a role="menuitem" tabindex="-1" href="#">圆形</a>
			        </li>
			        <li id="3" role="presentation">
			            <a role="menuitem" tabindex="-1" href="#">少女形</a>
			        </li>
			        
			        <li id="4" role="presentation">
			            <a role="menuitem" tabindex="-1" href="#">地图形</a>
			        </li>
			    </ul>
				</div>
	    	</div>
	    	<div style="margin: 0 auto;">
		    	<div id="text" style="margin-left: 100px;">
		    		<textarea name="longtext" id="longtext" cols="32" rows="20"
		    		placeholder='请输入长文本(至少50个字)' style="wdith:330px;height: 446px;"></textarea>
		    	</div>
		    	<div id="wcloud">
		    		<img src="/static/img/cloud1.jpeg" width="600px" height="450px">
		    	</div>
	    	</div>
	    	<div style="clear: both"></div>
		    <div id="wordfreq" >
		    	<h4 class="option">词频分析</h4>	
		    	<button >导出excel</button>
		    	<div id="analypic">
		    		<!-- <img src="" alt=""> -->
		    	</div>
		    </div>
	    </div>
	</div>

	<footer>
		@ copyright
	</footer>
</body>
</html>