<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/excel_past.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script src='/static/js/jquery-1.11.3.js'></script>
    <script src='/static/js/jquery.cookie.js'></script>
    <script src='/static/js/echarts.min.js'></script>
    <script src='/static/js/excel_past.js'></script>
</head>
<body>
    <div id="contleft">
      <div id="desc">
       <h2 style="padding-top: 18px;">描述性统计信息</h2>
       <form id="desc-form">
         <input type="radio" name="describe" value="mean" id="avg"><label for="avg">平均值</label><br/>
         <input type="radio" name="describe" value="std" id="std"><label for="std">标准差</label><br/>
         <input type="radio" name="describe" value="max" id="max"><label for="max">最大值</label><br/>
         <input type="radio" name="describe" value="min" id="min"><label for="min">最小值</label><br/>
       </form>
      </div>
      
     </div>
     
     <div id='contright'>
     <div id="f1-right" ></div>
     </div>
</body>
</html>