#container{
    background-color: #212726;
    width: 100%;
    /*text-align: center;*/
}
.canvas{
    width: 200px;
    height: 200px;
    background-color: #111A27;
    color: white;
    font-size: 14px;
    margin: 10px;
    margin-top: 15px;
    border:1px solid transparent;
}
#desc{
    width: 250px;
    height:250px;
    background: #111a27;
    color: yellow;
}
.block{
    width: 250px;
    height:250px;
    background: #111a27;
    color: yellow;
    margin-top:20px;
}
#desc-form > label{font-size: 24px;}

#contleft{
    text-align: center;
    border: 1px solid transparent;
    padding: 20px;
    float: left;
}
#contright{
    float: left;
    margin-left: 5px;
    padding: 20px;
    padding-left: 5px;
}
#f1-right{
    width: 1000px;
    height: 350px;
    background: #111a27;
}
#browse{
    margin-top: 20px;
    background-color:#212726; 
    padding-top: 10px;
    border-bottom: 1px solid #585A5A;
    padding-bottom: 10px;
}
#fbutton{
    background-color: #042029;
    color: #258BD2;
    /*border:1px solid #ccc;*/
    border-radius: 6px;
    margin-left: 10px;
}
#submit{
    background-color: #0640A6;
    border:1px solid #0640A6;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
}

.rcanvas{
    width: 300px;
    height: 200px;
    color: white;
    background-color: #111A27;
    margin:7px;
    margin-top: 15px;
    border: 1px solid transparent;
    float: left;
}
.rcanvas p{
    margin: 10px auto;
}

.rightchunk{
    width: 975px
}
footer{
    clear: both;
}