::-webkit-scrollbar-track {
      background-color: #b46868;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* 滑块颜色 */

::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
      background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

#container{
    background-color: #212726;
    width: 100%;
    /*text-align: center;*/
}
.canvas{
    width: 200px;
    height: 200px;
    background-color: #111A27;
    color: white;
    font-size: 14px;
    margin: 10px;
    margin-top: 15px;
    border:1px solid transparent;
}
#desc{
    width: 250px;
    height:250px;
    background: #111a27;
    color: white;
}
.block{
    width: 250px;
    height:250px;
    background: #111a27;
    color: white;
    margin-top:20px;
}
.myform{
    font-size: 20px;
    text-align: center;
}
.circle{
    width: 250px;
    height: 250px;
    background: #111a27;
    margin-top: 20px;
    margin-right: 20px;
}
.pie{
    width: 250px;
    height: 250px;
    background: #111a27;
    margin-top: 20px;
    margin-right: 20px;
}
.linebar{
    width: 730px;
    height: 250px;
    background: #111A27;
    margin-top: 20px;
    margin-right: 20px;
}
#contleft{
    border: 1px solid transparent;
    padding: 20px;
    float: left;
}
#contright{
    float: left;
    margin-left: 5px;
    padding: 20px;
    padding-left: 5px;
}
#f0-right{
    width: 630px;
    height: 420px;
    background: #111A27;
    margin-right: 20px;
    float: left;
}
#f1-right{
    width: 860px;
    height: 420px;
    background: #111a27;
    float: left;
}
#circle{
    float:left;
}
#linebar{
    float: left;
}
#pie{float: left;}
#browse{
    margin-top: 20px;
    background-color:#212726; 
    padding-top: 10px;
    border-bottom: 1px solid #585A5A;
    padding-bottom: 10px;
}
#fbutton{
    background-color: #042029;
    color: #258BD2;
    /*border:1px solid #ccc;*/
    border-radius: 6px;
    margin-left: 10px;
}
#submit{
    background-color: #0640A6;
    border:1px solid #0640A6;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
}

.rcanvas{
    width: 300px;
    height: 200px;
    color: white;
    background-color: #111A27;
    margin:7px;
    margin-top: 15px;
    border: 1px solid transparent;
    float: left;
}
.rcanvas p{
    margin: 10px auto;
}

.rightchunk{
    width: 975px
}
footer{
    clear: both;
}